@{
    Layout = "_LayoutExterno";
}

<div class="container container-primary">

    <div class="row col-12">
        <div class="col-md-12 text-center text-md-center">
            <br /><br />
            <h3>Página no disponible</h3>

            <p>Lo sentimos, la página no se encuentra disponible en este momento.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">INICIO</a>

        </div>
    </div>

</div>