

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="card mb-4 mt-4">
    <h4 class="card-header text-center">Perfil</h4>
    <div class="card-body">

TRABAJANDO

    </div>
</div>