@model UsuarioModel

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="card mb-4 mt-4">

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-primary text-center">
            @ViewBag.Mensaje
        </div>
    }

    <h4 class="card-header text-center">Perfil</h4>
    <div class="card-body">       

        <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form id="FormPerfil" class="mb-3" asp-action="InfoPerfil" asp-controller="Usuario">
                    <div class="mb-3">
                        <label class="form-label">Identificación</label>
                        <input type="text" class="form-control" asp-for="Identificacion" onkeyup="ConsultarNombre();" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" asp-for="Nombre" readonly="readonly" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" asp-for="CorreoElectronico" />
                    </div>

                    <div class="mb-3 form-password-toggle">
                        <label class="form-label">Nombre Perfil</label>
                        <input type="text" class="form-control" asp-for="NombrePerfil" readonly="readonly" />
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary d-grid w-25" type="submit">Procesar</button>
                    </div>

                </form>
            </div>

        </div>        

    </div>
</div>

<script src="~/js/Perfil.js" asp-append-version="true"></script>